body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #112250, #f5f0e9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    color: #3c507d;
}

.grupo {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-size: 14px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid #3c507d;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: #3c507d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #3c507d;
    transform: scale(1.03);
}

